#calc-page {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--default-padding);
    min-height: 65vh;
    font-family: var(--normal-font-family);
    font-size: 11px;
    color: var(--dark-font-color);
}

#calc-content {
    width: 45%;
}

#calc-title {
    color: var(--background-color);
}

#calorie-search-form {
    height: 30px;
    width: 80%;
}

#calorie-search-bar {
    background-image: url('../assets/images/search_icon.webp');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
}

.autocomplete {
    width: 100%;
    position: relative;

}

.auto{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 7;
    height: 85%;
    width: 80%;
    font-size: 13px;
    background-color: transparent;
    border: solid 1px var(--dark-font-color);
    border-radius: 3px;
}

#completed {
    color: silver;
    z-index: 1;
}

#calorie-button {
    width: 90px;
}

#calorie-results {
    min-height: 40px;
}


#calorie-search-form, .result, #portion-form, #sum-of, #total, .sum-box, .sum, .total-boxes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#portion-form {
    height: 30px;
    width: 85%;
    align-items: center;
}

#amount-box, #add-button {
    height: 90%;
}

#amount-box {
    width: 100px;
    border: solid 1px var(--dark-font-color);
    border-radius: 3px;
}

.result {
    width: 70%;
}

.result p {
    max-width: 33%;
}

#sum-of {
    align-items: stretch;
}

.sum {
    height: 45px;
    align-items: center;

}

.boxes, .total-boxes {
    width: 25%
}
.boxes {
    display: flex;
    flex-direction: column;
}

#total {
    border-top: solid 1px var(--dark-font-color);
}

#product-input, #product-total {
    align-items: flex-start;
    justify-content: flex-start;
}

#calories-input, #calories-total, #fat-input, #fat-total {
    align-items: center;
    justify-content: center;
}

#carbs-input, #carbs-total {
    align-items: flex-end;
    justify-content: flex-end;
}
