#recipe-page {
    display: flex;
    flex-direction: column;
    padding: var(--default-padding);
    margin: 20px 0px;
    font-family: var(--normal-font-family);
    color: var(--background-color);
}

#recipe-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 23px;
    margin-bottom: -20px;
}

#recipe-page-title {
    font-weight: 700;
}

#recipe-page-time {
    font-weight: 500;
}

#recipe-page-info {
    display: flex;
    flex-direction: row;
}

#left-info, #right-info {
    display: flex;
    flex-direction: column;
    width: 50%;

}
#left-info {
    align-items: flex-start;
}

h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

#ingredients-list li {
    font-size: 12px;
    font-weight: 400;
    list-style: outside;
}

#heath-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.label-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--button-color);
    height: 15px;
    padding: 0 4px;
    margin: 4px;
    font-family: var(--normal-font-family);
    font-size: 7px;
    font-weight: bold;
    color: var(--background-color);
    border: solid 1px var(--background-color);
    border-radius: 10px;

}

#right-info {
    align-items: flex-end;
}

#recipe-page-pic {
    width: 70%;
    border-radius: 3px;
}

#nutrients {
    margin-left: 30%;
    margin-top: 40px;
    align-self: flex-start;
}

#nutrient-box {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin-left: 30px;
    height: 10%;
}

#amount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}

.nutrients {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: 500;
}

