@import url(assets/fonts/fonts.css);
@import url(css/tile_styling.css);
@import url(css/recipe_page.css);
@import url(css/calorie_calculator.css);

:root {
    --default-padding: 10px 18%;
    --normal-font-family: 'Poppins', normal, normal, swap;
    --background-color: rgba(40,62,83,255);
    --button-color: #70b6be;
    --dark-font-color: #393939;
}

body {
    background: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    font-family: Austein, serif;
    font-size: 30px;
    font-weight: 100;
    color: var(--background-color);
    padding: var(--default-padding);
    height: 6vh;
}

header nav {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header nav a {
    text-decoration: none;
    color: var(--dark-font-color);
    font-family: var(--normal-font-family);
    font-weight: 700;
    font-size: 12px;
}

#top-half {
    display: flex;
    flex-direction: column;
    padding: var(--default-padding);
    background-image: url("assets/images/hero-image.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 525px;

}

#random{
    margin-top: 80px;
    font-family: var(--normal-font-family);
    font-size: 22px;
    color: white;
}

#title {
    font-weight: 700;
    margin-bottom: 0;
}

#subtitle {
    font-weight: 200;
    margin: -5px 0 10px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--button-color);
    color: var(--background-color);
    font-family: var(--normal-font-family);
    font-weight: bold;
    font-size: 10px;
    border: solid 1px var(--background-color);
    border-radius: 3px;
    padding: 5px 10px;
}



#three-tiles, #searched-tiles {
    opacity: 0;
    transition-duration: 1500ms;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#three-tiles {
    padding: 50px 0;
}


#searchbar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding: var(--default-padding);
    background-color: var(--background-color);
}

#searchbar form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--normal-font-family);
    height: 30px;
}

#searchbar input, #searchbar select, #search-button {
    font-family: var(--normal-font-family);
    font-size: 10px;
    color: var(--background-color);
    height: 100%;
    width: 105px;
    padding: 0 10px;
    border: none;
    border-radius: 2px;
}

#searchbar input {
    width: 180px;
    background-image: url('assets/images/search_icon.webp');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 30px;
}


#bottom-half {
    padding: var(--default-padding);
    min-height: 60px;
}


footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 28vh;
    padding: 0 24%;
    background-color: var(--background-color);
    font-family: var(--normal-font-family);
    font-size: 10px;
    font-weight: bold;
    color: var(--button-color);
}

.footer {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 20px 0 ;
}

footer section {
    height: 70%;
    margin: 2px;
    font-size: 9px;
    font-weight: 200;
    color: whitesmoke;
}

footer section img {
    transform: scale(.5);
}

.social-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.social-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    background-color: var(--button-color);
}